#h-nav-bar {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 50px;
}

#h-nav-bar > ul {
    width: 100%;
    left: 0%;
    position: relative;
    list-style: none;
    display: inline-block;
    height: 100%;
}
#h-nav-bar > ul > li {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-right: 50px;
    color: white;
    font-family: inherit;
    text-align: center;
    width: 10%;
    float: right;
}

#h-nav-bar > ul > li > * {
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-weight: 900;
    font-size: 25px;
}